.date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.date-picker-container label {
    font-size: 1.8rem;
    margin-right: 1rem;
}