.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .date {
    font-weight: bold;
    font-style: italic; 
    margin: 8px;
}

.footer .description {
    font-size: 1.6rem;
}