.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header .photo-title {
    font-size: 3rem;
    font-weight: bold;
}

.header .credit {
    font-style: italic;
}